<!DOCTYPE html>
<html>
<head>
	<title>Farmer Profile Page</title>
	<link rel="stylesheet" href="./static/css/profile.css">
   

<body>
	<header>
		<h1>Farmer Profile</h1>
		<p>Get to know more about our farmers and their farms.</p>
	</header>

	<section class="main-content">
		<div class="profile-img-container">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLANZW-Ig0sN21edO8JDWwX7Juqirqt14ecmRt2FU&s" alt="Farmer Image">
		</div>
		<div class="profile-details-container">
			<h2>Farmer Name:</h2>
			<div class="profile-details">
				<p><strong>Location:</strong> City, State</p>
				<p><strong>growing season:</strong> summer,winter,spring</p>
				<p><strong>Crops Grown:</strong> Wheat, Soybeans, Corn</p>
				<p><strong>phone no:</strong> </p>
			</div>
	
		</div>
	</section>

</body>
</html>
